<% @movies.each do |movie| %>
    <section class=movie>
      <div class= summary>
        <h2>
          <%= link_to movie.title, movie_path(movie) %>
          <%# <%= link_to movie.title, movie %> 
        </h2> 
          <h3><%=total_gross(movie) %></h3>
          <p>
            <%= truncate(movie.description, length: 150, separator: ' ') %>
          </p>
          <%= year_of(movie) %>
      </div>      
    </section>

  <%end%>

  <section class="admin">
   <%= link_to "Add Movie", new_movie_path(@movie), class:"button"%>
  </section>
